html, body {
	min-height: 100%;
}

body {
	background: lightblue;
}

.page-header h1 {
	font-size: 2em;
}

#theGame, #divResults, .results {
	display: none;
}

#options .panel-heading, #div-results .panel-heading {
	font-weight: bold;
	font-size: 1.2em;
}

#btnStart {
	margin: 0 auto;
	font-size: 1.2em;
}

.bg-success {
	background-color: green;
	color: white;
	font-weight: bold;
}

.bg-danger {
	background-color: red;
	color: white;
	font-weight: bold;
}

.options, .results {
	min-height: 275px;
}

#question {
	font-size: 1.4em;
	font-weight: bold;
}